{% extends 'blog/base.html' %}
{% block title %}Create Blog{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Create a New Blog Post</h2>
<form method="POST" enctype="multipart/form-data" class="bg-white p-6 rounded shadow space-y-4">
    {% csrf_token %}
    {{ form.as_p }}
    <img id="imagePreview" class="w-48 h-48 object-cover mb-4 rounded hidden" />

<script>
    const imageInput = document.querySelector('input[type="file"]');
    const preview = document.getElementById('imagePreview');

    imageInput.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            preview.src = URL.createObjectURL(file);
            preview.classList.remove('hidden');
        }
    });
</script>

<button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Publish</button>
</form>
{% endblock %}
